*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.wrapper{
    width: 50%;
    margin: 0 auto;
    padding: 100px 50px;
    /* border: 1px solid; */
}
.box{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding: 75px 0px;
    /* border: 1px solid; */
}
.a{
    /* border: 1px solid black; */
    height: 300px;
    width: 300px;
    margin: 0 auto;
    background: linear-gradient(#313131, #0fb600);
    animation-name: rotation;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
.wrapper .shadow{
    margin-top: 0px;
    height: 30px;
    width: 300px;
    box-shadow: 0px 100px 15px 5px #0fb600;
    border-radius: 20px;
    animation-name: rotation;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes rotation{
    0%{
        transform: rotateX(0deg);
    }
    100%{
        transform: rotateY(360deg);
    }
}
